[Unit] 
Description=Update download stats from conda
After=network.target

[Service] 
Type=oneshot
User=ivanto@d
Group=bsse-beerenwinkel@d
Environment=PATH=/opt/conda_stats_gather/conda_csg_env/bin:/usr/local/bin:/usr/bin:/bin
WorkingDirectory=/opt/conda_stats_gather/
ExecStart=/opt/conda_stats_gather/conda_stats_gather.pl

[Install]
WantedBy=multi-user.target

