[Unit] 
Description=Update download stats from conda
After=network.target

[Service] 
Type=oneshot
User=ivanto
Group=bsse-beerenwinkel
WorkingDirectory=/opt/conda_stats_gather/
ExecStart=/usr/bin/scl enable rh-perl526 -- /opt/conda_stats_gather/conda_stats_gather.pl

[Install]
WantedBy=multi-user.target

