[Unit]
Description=Timer to build stats PDF
After=remote-fs.target conda_stats_gather.timer conda_stats_gather.service

[Timer]
OnCalendar=*-*-2/5 05:00
AccuracySec=10min
Persistent=true
#WakeSystem=true
RemainAfterElapse=yes

[Install]
#WantedBy=multi-user.target
WantedBy=timers.target
