[Unit] 
Description=Build stats PDF
After=remote-fs.target

[Service] 
Type=oneshot
User=ivanto@d
Group=bsse-beerenwinkel@d
ExecStart=/usr/bin/scl enable rh-python36 -- scl enable rh-perl526 -- make -C /opt/conda_stats_gather/

[Install]
WantedBy=multi-user.target

